.color_linea_cultrual
{
	color: #a80d86;
}

.fondocultural
{
	background-color: #8c1c86;
}





@media(max-width: 768px){
	.fondocultural{
		background-color:black;
		position: absolute;
		left: 35%
	}
	}


.fondo-header-cultural
{
	background-color:#212529;
	color: white;
}

.textobanner
{
	position: absolute;
	top:25%;
	color:white;
}

.background-noticias-talleres
{
	background-color:#039e9b;
	color:white;

}

.inscribete-cultural
{
	padding: 50px;
	color:#fff;
	background-color:#039e9b;
}

.footer
{
	color: white;
}

/* carousel */
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}

.imagen-fluid{
  width: 200px;
}

.navbar-nav{
	text-align: right;
}
